*
{
  margin: 0;
  padding: 0;
}
:root
{
  /* INFORMATION */
  --information-size: 20px;
  --information-color:red;
/* HEADER */
--header-color:red;
--header-size:20px;
--header-background:black;
/* CONTAINER */
--container-a-color:white;
  --container-size:20px;
--container-background:black;
--container-background-color:red;
--container-transition:0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
--container-boder:2px solid black;
/* REVIEWS*/
--reviews-size:25px;
--reviews-color:rgb(13, 4, 4);
--reviews-texts-size:17px;
--reviews-texts-family:1 'Times New Roman', Times, serif;;
--reviews-texts-color:rgb(100, 99, 99);
/* PERSONAL-INFORMATION */
--personal-information--size:15px;
--personal-information-backgroud-color:black;
--personal-information--color:white;
--personal-information--boder-top:2px solid white;
}
body
{
position: relative;
}
/* INFORMATION */
.information
{
  position: absolute;
  top: 10%;
 right: 0;
  width: 30px ;
  height: 100%;
  font-size: var(--information-size);
  position: fixed;
}
.information a
{
  color: var(--information-color);
}
.cart 
{
  margin-bottom: 200px;
}
.facebook,.youtube,.instagram
{
  padding: 20px 0;
}
/* HEADER */
#header
{
 min-height: 60px;
 font-size: var(--header-size);
 background:var(--header-background) ;
 color: var(--header-color);
 display: flex;
 justify-content: space-around;
}
.picture-one 
{
  width: 100px;
  min-height: 60px;
  background-image: url("picture/books.png");
  background-repeat: no-repeat;
  background-size: contain;
  display: none;
}
.bar
{
  margin: auto 16px;
}
.daneillunsford
{
margin: auto;
padding: 10px 0;
}
/* CONTAINER */
.container
{
  min-height: 60px;
 font-size: var(--container-size);
 background:var(--container-background);
 display: flex;
 justify-content: space-between;
}
/*CLICK CONTAINER*/
.container
{
display: none;
 transition: var(--container-transition);
}
.clickcontainer
{
  display: flex;
}
.sub-menu
{
  display: flex;
  margin: auto ;
  list-style: none;
  flex-direction: column;
  transition:var(--container-transition);
}
.item-one,.item-two,.item-thrre,.item-fore,.item-five,.item-six
{
  order: 1;
}
.item-sevent
{
  order: 0;
}
.sub-menu li a
{
  text-decoration: none;
  color: var(--container-a-color);
  padding: 0px 20px;
}
.sub-menu li:hover
{
  background-color:var(--container-background-color);
  transition: var(--container-transition);
}
.sub-item
{
  padding: 8px 0;
  border: var(--container-boder);
}
/* THIET LAP BODER CHO CONTAINER */
.container .sub-menu >li>a
{
  position: relative;
}
.container .sub-menu >li>a::before
{
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  top: 37px;
  height: 2px;
  background: var(--container-background-color);
  transition: 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 opacity: 0;
}
.container .sub-menu >li:hover>a::before
{
 width: 100%;
}
/* Reviews*/
.reviews
{
  text-align: center;
  padding: 20px 0;
font-size: var(--reviews-size);
color:var(--reviews-color) ;
}
/* REVIEWS */
.reviews-text
{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    flex-direction: column;
}
.reviews-text .texts
{
text-align: center;
   padding: 30px 60px;
   font-size: var(--reviews-texts-size);
   font-family:var(--reviews-texts-family);
}
.texts span
{
    color: var(--reviews-texts-color);
}
.texts p
{
    font-weight: bold;
    padding: 15px 0;
}
/* PERSONAL-INFORMATION */
.personal-information
{
  background-color:var(--personal-information-backgroud-color);
  min-height: 500px;
  flex-wrap: wrap;
}
.information-personal
{
  width: 80%;
  margin: auto;
  display: flex;
color: var(--personal-information--color);
font-size: var(--personal-information--size);
flex-direction: column;
}
.information-text 
{
  text-align: center;
  padding: 50px 0;
  flex: 1;
}
.information-text h2
{
  width: 95%;
}
.information-text p
{
  width: 70%;
  margin: auto;
  padding: 10px 0;
}
.information-text a
{
  color: var(--personal-information--color);
  text-decoration: none;
}
.information-text-one
{
  color: var(--personal-information--color);
  text-align: center;
  margin-top: 190px;
}
.information-text-one p
{
  width: 80%;
  margin: auto;
  padding: 40px 0;
    border-top: var(--personal-information--boder-top);
}
@media screen and (min-width:740px) 
{
  /* FLEX-DIRECTION:ROW */
  .sub-menu,.information-personal,.reviews-text
  {
    flex-direction: row;
  }
.information
{
  right: 0;
  font-size: 25px;
  width: 50px;
}
  .bar
  {
    display: none;
  }
  .picture-one
  {
   display: block;
  }
  .container
  {
display: flex;
  }
  .item-sevent
  {
    order: 1;
  }
 .item-fore,.sub-menu li:hover
{
  background-color:var(--container-background-color);
  transition: var(--container-transition);
}
.reviews
{
  font-size: 50px;
}
  .sub-menu
  {
    margin: auto;
  }
.container .sub-menu >li>a::before
{
  opacity: 1;
}
.reviews-text .texts
{
    flex-basis: 17.5%;
    padding: 60px 60px;
}
}